<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .hai{
         color: blue;
         justify-content: center;
         text-align: center;
         font-family: 'Courier New', Courier, monospace;
         padding-top: 300px;
         font-weight:bolder;
         font-size:xx-large;
         font-style:oblique;
      }
    </style>
</head>
<body style="background-color: aquamarine;">
<p class="hai"><b>Congratulations your payment is successful....</b></p>
 <a href="{% url 'shop:allProdCat' %}" class="btn btn-warning">Go Back to Home</a>
</body>
</html>